
<nav class="navbar navbar-light bg-faded container-fluid">
  <a class="navbar-brand" href="#"></a>
  <ul class="nav navbar-nav">
    <li class="nav-item active">
      <a class="nav-link" href="#">Run Allocation</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Change ParamtersB</a>
    </li>
  </ul>
  <ul class="nav navbar-nav pull-right">
    <li class="nav-item">
      <a class="nav-link" href="#">Toggle Gender</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Toggle Region</a>
    </li>
  </ul>
</nav>

{{outlet}}
