
<div id="main" class="container-fluid">

  <div id="alerts-holder"></div>

  {{outlet}}

  <table id="allocation" class="table table-bordered" cellpadding="0" cellspacing="0">
    <thead>
      <tr>
        <th class="head-venue">Venue</th>
        <th class="head-points">Points</th>
        <th class="head-importance">Importance</th>
        <th class="head-og">OG</th>
        <th class="head-oo">OO</th>
        <th class="head-cg">CO</th>
        <th class="head-co">CG</th>
        <th class="head-bans">Bans</th>
        <th class="head-panel">
          <div class="flex-icon flex-icon-large">
            L
          </div>
          <div class="flex-1">
            Chair
          </div>
          <div class="flex-2">
            Panel
          </div>
          <div class="flex-1">
            Trainee
          </div>
          <div class="flex-icon-large">
            M
          </div>
        </th>
      </tr>
    </thead>
    <tbody>
    {{#each model.debates as |debate-instance|}}
        {{debate-ui debate=debate-instance}}
    {{/each}}
    </tbody>
  </table>

</div>

<div id="unusedAdjs" class="container-fluid navbar-fixed-bottom">

  {{#each model.adjudicators as |adjudictator-instance|}}
    {{adjudicator-ui adj=adjudictator-instance}}
  {{/each}}

<!-- {{#draggable-object-target action=""}}{{/draggable-object-target}}  -->

</div>