{{#if adj }}
    <button type="button" class="btn adjudicator-ui">
        <div class="flex-icon flex-icon">
            <span class="glyphicon glyphicon-ok-circle"></span>
        </div>
        <div class="flex-1">
            <span>{{ adj.name }}</span>
            <span>
            {{#each adj.institutions as |institution|}}
                ({{ institution.name }})
            {{/each}}
            </span>
        </div>
        <div class="">
            <span> {{ adj.rating }}</span>
        </div>
    </button>
{{/if }}