<button type="button" class="btn debate-adjudicator">
    <span class="glyphicon glyphicon-ok-circle"></span>
    {{ adj.name }} ({{ adj.institution }}) {{ adj.rating }}
    <span class="glyphicon glyphicon-move drag-handle"></span>
</button>