{{#draggable-object content=this dragHandle='.js-drag-handle'}}
<button type="button" class="btn adjudicator-ui">
    <span class="glyphicon glyphicon-ok-circle"></span>
    {{ adj.name }} ({{ adj.institution }}) {{ adj.rating }}
    <span class="glyphicon glyphicon-move js-drag-handle"></span>
</button>
{{/draggable-object}}