{{#ember-dragula drag='adjDrag' drop='adjDrop' config=adj_dragulaconfig as |adj-drake| }}

<div id="main" class="container-fluid">

  <div id="alerts-holder"></div>

  {{outlet}}

  <table id="allocation" class="table table-bordered" cellpadding="0" cellspacing="0">
    <thead>
      <tr>
        <th class="head-venue" data-toggle="tooltip" data-placement="top" title="Venue">V</th>
        <th class="head-points text-center" data-toggle="tooltip" data-placement="top" title="Points">P</th>
        <th class="head-importance" data-toggle="tooltip" data-placement="top" title="Importance">VIP</th>
        <th class="head-og">OG</th>
        <th class="head-oo">OO</th>
        <th class="head-cg">CO</th>
        <th class="head-co">CG</th>
        <th class="head-bans">Bans</th>
        <th class="head-panel">
          <div class="flex-1">
            Chair
          </div>
          <div class="flex-2">
            Panel
          </div>
          <div class="flex-1">
            Trainee
          </div>
          <div class="flex-icon-large">
            M
          </div>
        </th>
      </tr>
    </thead>
    <tbody>

    {{#each model.debates as |debate-instance|}}
        {{debate-ui debate=debate-instance drake=adj-drake}}
    {{/each}}

    </tbody>
  </table>

</div>

<div id="unusedAdjs" class="container-fluid navbar-fixed-bottom position-holder">
    {{#ember-dragula-container}}
        {{#each model.adjudicators as |adjudictator-instance|}}
            {{adjudicator-ui adj=adjudictator-instance }}
        {{/each}}
    {{/ember-dragula-container}}
</div>


{{/ember-dragula}}