<div class="debate-panel">
    <div class="col-md-1 position-holder">
      Panel Quality: x
      Adj-adj history: x
    </div>
    <div class="col-md-2 debate-chair-holder position-holder">

    </div>
    <div class="col-md-6 position-holder">

    </div>
    <div class="col-md-2 position-holder">

    </div>
    <div>
      <span class="glyphicon glyphicon glyphicon-record drag-handle"></span>
      <span class="glyphicon glyphicon-move drag-handle"></span>
    </div>
</div>