{{#draggable-object content=this dragHandle='.js-drag-handle'  dragStartAction='startPanelDrag' dragEndAction='endPanelDrag'}}

<div class="panel-ui">

    <div class="flex-icon flex-icon">
      <span class="glyphicon glyphicon glyphicon-record"></span>
    </div>

    <div class="debate-chair-holder flex-1 position-holder">

      {{#draggable-object-target dragOverAction='chairReceived' }}
        {{#if panel.chair }}
          {{adjudicator-ui adj=panel.chair}}
        {{/if }}
      {{/draggable-object-target}}

    </div>
    <div class="debate-panel-holder flex-2 position-holder">

      {{#draggable-object-target dragOverAction='panellistReceived'}}
        {{#each panel.panellists as |adjudictator-instance|}}
          {{adjudicator-ui adj=adjudictator-instance}}
        {{/each}}
      {{/draggable-object-target}}

    </div>
    <div class="debate-trainee-holder flex-1 position-holder">

      {{#draggable-object-target dragOverAction='traineeReceived' }}
        {{#each panel.trainees as |adjudictator-instance|}}
          {{adjudicator-ui adj=adjudictator-instance}}
        {{/each}}
      {{/draggable-object-target}}

    </div>
    <div class="js-drag-handle flex-icon flex-icon">
      5
    </div>
    <div class="js-drag-handle flex-icon flex-icon">
      <span class="glyphicon glyphicon-move"></span>
    </div>
</div>

{{/draggable-object}}
