<div id="unusedAdjs" class="container-fluid navbar-fixed-bottom position-holder">

    {{#each model.adjudicators as |adj|}}
        {{#if adj.panel}}
        {{else}}
            {{adjudicator-ui adj=adj}}
        {{/if}}
    {{/each}}

</div>