/* Overwrite Font Locations */

@font-face{
  font-family:'Glyphicons Halflings';
  src:url(/assets/fonts/glyphicons-halflings-regular.eot);
  src:url(/assets/fonts/glyphicons-halflings-regular.eot?#iefix) format('embedded-opentype'),
    url(/assets/fonts/glyphicons-halflings-regular.woff2) format('woff2'),
    url(/assets/fonts/glyphicons-halflings-regular.woff) format('woff'),
    url(/assets/fonts/glyphicons-halflings-regular.ttf) format('truetype'),
    url(/assets/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular) format('svg')
}

/* Nav */

.breadcrumb {
  margin-bottom: 0px;
  padding: 0 10px 10px;
}
.breadcrumb li a {
  padding: 2px 4px;
}
/* Table Widths */

table {
  table-layout: fixed;
  width: 100%;
  white-space: nowrap;
}
.table>thead>tr>th .glyphicon-chevron-down, .table>thead>tr>th .glyphicon-chevron-up {
  display: block;
}
td {
  text-overflow: normal !important;
  white-space: normal !important;
}

.head-venue {
  width: 3.5%;
}
.head-points {
  width: 3.5%;
}
.head-weight {
  width: 3.5%;
}
.head-importance {
  width: 3.5%;
}
.head-importance-edit {
  width: 16%;
}

.head-og {
  width: 7.5%;
}
.head-oo {
  width: 7.5%;
}
.head-cg {
  width: 7.5%;
}
.head-co {
  width: 7.5%;
}


.head-bans {
  width: 26%;
}
.head-locks {
  width: 26%;
}
.debate-panel {
  width: auto;
}

/* Sorting Icons */

.table>thead>tr>th {
  line-height: 28px;
}
.table>thead>tr>th.head-sortable {
  cursor: pointer;
  line-height: 14px;
}
.head-sortable .glyphicon-chevron-down, .head-sortable .glyphicon-chevron-down {
  margin-left: 2px;
}
span[active="false"].glyphicon {
  opacity: 0.25;
}

/* Table Cells */

.table>tbody>tr>td {
  line-height: 30px;
}
.table>tbody>tr>td.debate-team span, .table>tbody>tr>td.debate-team {
  line-height: 1.1;
}
.debate-importance input {
  max-width: 100%;
  font-size: 26px;
  text-align: center;
}
input[type=range] {
  height: 30px;
}

/* Panel Component */

.panel-ui {
  padding: 0px !important;
  line-height: 40px;
}
.flex-icon {
  flex: none;
  width: 30px;
  text-align: center;
}
.flex-1 {
  flex-grow: 2;
  flex-basis: 60px;
}
.flex-2 {
  flex-grow: 5;
  flex-basis: 60px;
}

.debate-panel {
  padding: 1px !important;
}

/* Panel Component */
.panel-ui {
  border: 2px solid rgb(200, 200, 200);
  border-radius: 6px;
  overflow: auto;
  margin-bottom: 0px;
  display: flex;
  min-height: 40px;
}
.table>thead>tr>th.head-panel {
  display: flex;
  padding-right: 0px;
  padding-left: 0px;
}
td.head-panel {
  padding-left: 0px !important;
  padding-right: 0px !important;
}
.position-holder {
  border-left: 2px solid rgb(200, 200, 200);
}
.position-holder .droppable-area {
  min-height: 40px;
  float: left;
  width: 100%;
}
.js-drag-handle:hover {
  cursor: move;
}

/* Adjudicator Component */

.adjudicator-ui {
  background: rgb(220, 220, 220);
  text-align: left;
  padding: 0 0 0 4px;
  border: 2px solid rgb(200, 200, 200);
  border-radius: 3px;
  margin: 2px 2px;
  display: flex;
  float: left;
}
.adjudicator-ui.btn.focus, , .adjudicator-ui:hover {

}
.adjudicator-ui.locked-true {
  border: 2px solid rgb(0, 0, 255);
}
.adjudicator-ui .flex-icon span,
.adjudicator-ui .flex-icon span.glyphicon {
  line-height: 32px;
}
.adj-name {
  line-height: 1;
  display: block;
  margin-top: 3px;
  margin-bottom: -6px;
  font-weight: bold;
}
.adj-institution {
  line-height: 1;
  font-size: 75%;
}

.adjudicator-ui:hover {
  cursor: move;
}
.adj-lock {
  flex: none;
  width: 26px;
}
.adj-name {
  flex-grow: 1;
}

/* Holders */

.droppable-area {
  background: rgb(240, 240, 240);
}
.droppable-area.dragging-active {
  background: rgb(240, 255, 240);
}
.droppable-area.dragging-over {
  background: #00FF50;
}
.adj-bottom-panel {
  border-top: 2px solid rgb(200, 200, 200);
  background: #EFEFEF;
  padding: 5px;
  max-height: 150px;
  overflow: auto;
}
.adj-bottom-panel .adjudicator-ui {
  padding-left: 5px;
}
.adj-bottom-panel .adj-lock {
  display: none;
}

/* JS */

.hoverable {
  cursor: pointer;
}
.gender-display.gender-2:focus, .ranking-display:focus, .language-display:focus, .region-display:focus {
  color: #fff;
}
.gender-display.debate-team.gender-1 {
  background: #F89CFF; /* Only show this for teams as for them it represnts M+F*/
  text-shadow:
   -1px -1px 0 rgba(255,255,255,0.5),
    1px -1px 0 rgba(255,255,255,0.5),
    -1px 1px 0 rgba(255,255,255,0.5),
     1px 1px 0 rgba(255,255,255,0.5);
}
.gender-display.gender-2 {
  background: #F103FF;
  color: #fff;
  text-shadow:
   -1px -1px 0 rgba(0,0,0,0.5),
    1px -1px 0 rgba(0,0,0,0.5),
    -1px 1px 0 rgba(0,0,0,0.5),
     1px 1px 0 rgba(0,0,0,0.5);
}
.ranking-display, .region-display,
.btn.ranking-display:hover, .btn.region-display:hover {
  color: #fff;
  text-shadow:
   -1px -1px 0 rgba(0,0,0,0.5),
    1px -1px 0 rgba(0,0,0,0.5),
    -1px 1px 0 rgba(0,0,0,0.5),
     1px 1px 0 rgba(0,0,0,0.5);
}
.language-display.language-2 {
  background: blue;
    color: #fff;
  text-shadow:
   -1px -1px 0 rgba(0,0,0,0.5),
    1px -1px 0 rgba(0,0,0,0.5),
    -1px 1px 0 rgba(0,0,0,0.5),
     1px 1px 0 rgba(0,0,0,0.5);
}
.language-display.language-3 {
  background: red;
    color: #fff;
  text-shadow:
   -1px -1px 0 rgba(0,0,0,0.5),
    1px -1px 0 rgba(0,0,0,0.5),
    -1px 1px 0 rgba(0,0,0,0.5),
     1px 1px 0 rgba(0,0,0,0.5);
}
.region-display.region-9 {
  background: #E900FF; /* Europe */
}
.region-display.region-10 {
  background: #FF3600; /* IONA */
}
.region-display.region-6 {
  background: #FF870D; /* ANZ */
}
.region-display.region-7 {
  background: #E8E400; /* North America */
}
.region-display.region-8 {
  background: #B4FF0D; /* Latin America */
}
.region-display.region-1 {
  background: #00FF01; /* North Asia */
}
.region-display.region-2 {
  background: #0DFF97; /* SE Asia */
}
.region-display.region-4 {
  background: #0DD3FF; /* Sub Continent */
}
.region-display.region-3 {
  background: #0C12E8; /* Middle East */
}
.region-display.region-5 {
  background: #7E00FF; /* Africa */
}


.ranking-display.ranking-1 {
  background: #660200;
}
.ranking-display.ranking-2 {
  background: #FF0100;
}
.ranking-display.ranking-3 {
  background: #FF5D00;
}
.ranking-display.ranking-4 {
  background: #E8920C;
}
.ranking-display.ranking-5 {
  background: #FFC800;
}
.ranking-display.ranking-6 {
  background: #E8DF00;
}
.ranking-display.ranking-7 {
  background: #87FF00;
}
.ranking-display.ranking-8 {
  background: #00FF45;
}
.ranking-display.ranking-9 {
  background: #005E16;
}

