

/* Table Widths */

table {
  table-layout: fixed;
  width: 100%;
  white-space: nowrap;
}
td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.head-venue {
  width: 2%;
}
.head-points {
  width: 2%;
}
.head-importance {
  width: 2%;
}
.head-og {
  width: 6%;
}
.head-oo {
  width: 6%;
}
.head-cg {
  width: 6%;
}
.head-co {
  width: 6%;
}
.head-bans {
  width: 10%;
}

#allocation th {
  font-size: 10px;
}

.importance input {
  max-width: 30px;
}

/* Panel Component */

.panel-ui {
  padding: 0px !important;
  line-height: 40px;
}
.panel-ui .glyphicon {
  line-height: 40px;
}
.flex-icon {
  flex: none;
  width: 40px;
  text-align: center;
}
.flex-icon .glyphicon {
  font-size: 20px;
  color: #666;
}
.flex-1 {
  flex-grow: 1;
}
.flex-2 {
  flex-grow: 2;
}

.debate-panel {
  padding: 4px !important;
}

/* Panel Component */

.panel-ui {
  border: 2px solid rgb(0, 0, 255);
  border-radius: 6px;
  background: #EFEFEF;
  overflow: auto;
  margin-bottom: 0px;
  display: flex;
}
.head-panel {
  display: flex;
  padding-left: 0px !important;
  padding-right: 0px !important;
}
.panel-ui:first-child {
  border-right: 1px solid #FEFEFE; /* TODO: not working */
}
.position-holder {
  border-right: 1px solid #FEFEFE;
  padding: 0 4px;
}
.draggable-object-target {
  min-height: 30px;
}
.js-drag-handle:hover {
  cursor: move;
}

/* Adjudicator Component */

.adjudicator-ui {
  background: rgb(200, 200, 200);
  max-width: 200px;
  text-align: left;
  padding: 0px 10px 0 0;
  border: 2px solid rgb(0, 0, 255);
  border-radius: 3px;
  margin: 3px 3px;
  display: flex;
}
.adjudicator-ui div span,
.adjudicator-ui div span.glyphicon {
  line-height: 32px;
}

.adjudicator-ui:hover {
  cursor: move;
}
.adj-lock {
  flex: none;
  width: 20px;
}
.adj-name {
  flex-grow: 1;
}

/* Holders */

#unusedAdjs {
  background: #EFEFEF;
  padding: 10px;
}
#unusedAdjs .adjudicator-ui {
  float: left;
  margin-right: 8px;
}