
/* Nav */

.breadcrumb {
  margin-bottom: 0px;
  padding: 0 10px 10px;
}
.breadcrumb li a {
  padding: 2px 4px;
}
/* Table Widths */

table {
  table-layout: fixed;
  width: 100%;
  white-space: nowrap;
}
td {
  text-overflow: normal !important;
  padding: 4px !important;
  white-space: normal !important;
}

.head-venue {
  width: 2%;
}
.head-points {
  width: 2%;
}
.head-importance {
  width: 4%;
}
.head-og {
  width: 6%;
}
.head-oo {
  width: 6%;
}
.head-cg {
  width: 6%;
}
.head-co {
  width: 6%;
}
.head-language {
  width: 3%;
}
.head-regional {
  width: 3%;
}
.head-gender {
  width: 3%;
}
.head-adjudicators {
  width: 3%;
}

#allocation th {
  font-size: 10px;
}


/* Sorting Icons */

.head-sortable {
  cursor: pointer;
}
span[active].glyphicon {
  float: right;
}
span[active="false"].glyphicon {
  opacity: 0.25;
}

/* Table Cells */

.debate-importance {
  padding: 0px !important;
}
.debate-importance input {
  max-width: 100%;
  font-size: 26px;
  text-align: center;
}

/* Panel Component */

.panel-ui {
  padding: 0px !important;
  line-height: 40px;
}
.panel-ui .glyphicon {
  line-height: 40px;
}
.flex-icon {
  flex: none;
  width: 30px;
  text-align: center;
}
.flex-icon .glyphicon {
  font-size: 20px;
}
.flex-1 {
  flex-grow: 1;
  flex-basis: 120px;
}
.flex-2 {
  flex-grow: 2;
  flex-basis: 120px;
}
.adj-rating {

}
.debate-panel {
  padding: 1px !important;
}

/* Panel Component */

.panel-ui {
  border: 2px solid rgb(200, 200, 200);
  border-radius: 6px;
  background: rgb(240, 240, 240);
  overflow: auto;
  margin-bottom: 0px;
  display: flex;
}
.head-panel {
  display: flex;
}
td.head-panel {
  padding-left: 0px !important;
  padding-right: 0px !important;
}
.panel-ui:first-child {
  border-right: 1px solid #FEFEFE; /* TODO: not working */
}
.position-holder {
  border-right: 1px solid #FEFEFE;
}
.js-drag-handle:hover {
  cursor: move;
}

/* Adjudicator Component */

.adjudicator-ui {
  background: rgb(220, 220, 220);
  text-align: left;
  padding: 0 0 0 0;
  border: 2px solid rgb(200, 200, 200);
  border-radius: 3px;
  margin: 3px 3px;
  display: flex;
  float: left;
}
.adjudicator-ui div span,
.adjudicator-ui div span.glyphicon {
  line-height: 32px;
}

.adjudicator-ui:hover {
  cursor: move;
}
.adj-lock {
  flex: none;
  width: 20px;
}
.adj-name {
  flex-grow: 1;
}

/* Holders */

#unusedAdjs {
  background: #EFEFEF;
  padding: 10px;
}
#unusedAdjs .adjudicator-ui {

}

/* JS */

.hoverable {
  color: #0067E2;
  cursor: pointer;
}
.gender-display.gender-1 {
  background: #F89CFF;
}
.gender-display.gender-2 {
  background: #F103FF;
}
.region-display {
  color: #fff;
}
.region-display.region-1 {
  background: #FFFF00;
}
.region-display.region-2 {
  background: #0094FF;
}
.region-display.region-3 {
  background: #C605FF;
}
.region-display.region-4 {
  background: #FFB300;
}
.region-display.region-5 {
  background: #00FF9D;
}
.region-display.region-6 {
  background: #8700FF;
}
.region-display.region-7 {
  background: #B28030;
}
.region-display.region-8 {
  background: #CEFF00;
}
.region-display.region-9 {
  background: #00F5FF;
}
.region-display.region-10 {
  background: #CCC;
}