/* Overwrite Font Locations */

@font-face{
  font-family:'Glyphicons Halflings';
  src:url(/assets/fonts/glyphicons-halflings-regular.eot);
  src:url(/assets/fonts/glyphicons-halflings-regular.eot?#iefix) format('embedded-opentype'),
    url(/assets/fonts/glyphicons-halflings-regular.woff2) format('woff2'),
    url(/assets/fonts/glyphicons-halflings-regular.woff) format('woff'),
    url(/assets/fonts/glyphicons-halflings-regular.ttf) format('truetype'),
    url(/assets/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular) format('svg')
}
.uppercase {
  text-transform: uppercase;
  }

/* Nav */

.breadcrumb {
  margin-bottom: 0px;
  padding: 0 10px 10px;
}
.breadcrumb li a {
  padding: 2px 4px;
}
/* Table Widths */

table {
  table-layout: fixed;
  width: 100%;
  white-space: nowrap;
}
.table>thead>tr>th .glyphicon-chevron-down, .table>thead>tr>th .glyphicon-chevron-up {
  display: block;
}
td {
  text-overflow: normal !important;
  white-space: normal !important;
}

.head-venue {
  width: 3.5%;
}
.head-points {
  width: 3.5%;
}
.head-weight {
  width: 3.5%;
}
.head-importance {
  width: 3.5%;
}
.head-importance-edit {
  width: 16%;
}

.head-og {
  width: 8.5%;
}
.head-oo {
  width: 8.5%;
}
.head-cg {
  width: 8.5%;
}
.head-co {
  width: 8.5%;
}
.head-bans {
  width: 26%;
}
.head-locks {
  width: 26%;
}
.debate-panel {
  width: auto;
}

/* Sorting Icons */

.table>thead>tr>th {
  line-height: 28px;
}
.table>thead>tr>th.head-sortable {
  cursor: pointer;
  line-height: 14px;
}
.head-sortable .glyphicon-chevron-down, .head-sortable .glyphicon-chevron-down {
  margin-left: 2px;
}
span[active="false"].glyphicon {
  opacity: 0.25;
}

/* Table Cells */

.table>tbody>tr>td {
  line-height: 30px;
}
.table>tbody>tr>td.team-ui {
  line-height: 1.1;
}
.table>tbody>tr>td.team-ui:hover {
  color: blue;
  cursor: help;
}
.debate-importance input {
  max-width: 100%;
  font-size: 26px;
  text-align: center;
}
input[type=range] {
  height: 30px;
}
input[type=range]:hover {
  cursor: col-resize;
}

/* Panel Component */

.flex-icon {
  flex: none;
  width: 30px;
  text-align: center;
}
.panel-stats {
  float: left;
}
.panel-ui {
  padding: 0px !important;
  line-height: 40px;
}
.flex-1 {
  flex-grow: 2;
  flex-basis: 60px;
}
.flex-2 {
  flex-grow: 7;
  flex-basis: 60px;
}

.debate-panel {
  padding: 1px !important;
}

/* Panel Component */
.panel-ui {
  border: 2px solid rgb(200, 200, 200);
  border-radius: 6px;
  overflow: auto;
  margin-bottom: 0px;
  display: flex;
  min-height: 40px;
}
.table>thead>tr>th.head-panel {
  display: flex;
  padding-right: 0px;
  padding-left: 0px;
}
td.head-panel {
  padding-left: 0px !important;
  padding-right: 0px !important;
}
.position-holder {
  border-right: 2px solid rgb(200, 200, 200);
}
.position-holder .droppable-area {
  min-height: 40px;
  float: left;
  width: 100%;
}
.js-drag-handle:hover {
  cursor: move;
}

/* Conflicts */

.institution-conflict {
  background: red;
  color: #fff;
}

/* Adjudicator Component */

.adjudicator-ui {
  background: #fff;
  text-align: left;
  padding: 0 0 0 4px;
  border: 2px solid rgb(200, 200, 200);
  border-radius: 3px;
  margin: 2px 2px;
  display: flex;
  float: left;
}
.adjudicator-ui:hover {
  border-color: blue;
}
.adjudicator-ui.locked-true {
  border: 2px solid rgb(0, 0, 255);
}
.adjudicator-ui .flex-icon span,
.adjudicator-ui .flex-icon span.glyphicon {
  line-height: 32px;
}
.adj-name {
  line-height: 1;
  display: block;
  margin-top: 3px;
  margin-bottom: -6px;
  font-weight: bold;
}
.adj-institution {
  line-height: 1;
  font-size: 75%;
}
.adj-lock {
  flex: none;
  width: 26px;
}
.adj-name {
  flex-grow: 1;
}

/* Holders */

.droppable-area {
  background: rgb(240, 240, 240);
}
.droppable-area.dragging-active {
  background: rgb(240, 255, 240);
}
.droppable-area.dragging-over {
  background: #00FF50;
}

#allocation {
  margin-bottom: 125px; /* So you can scroll past the unused table */
}
.adj-bottom-panel {
  height: 100px;
  overflow: auto;
  padding: 4px 5px 5px 5px;
  border-top: 2px solid rgb(200, 200, 200);
  overflow: hidden;
}
.resize-holder {
  width: 38px;
  height: 38px;
  line-height: 38px;
  float: right;
  color: #666;
}
.resize-holder:hover {
  cursor: row-resize;
  color: #000;
}




.adj-bottom-panel .adjudicator-ui {
  padding-left: 5px;
}
.adj-bottom-panel .adj-lock {
  display: none;
}

/* JS */

.popover {
  opacity: 0.95 !important;
}

.popover, .popover-content {
  padding: 0;
}
.popover .panel {
  border: none;
  margin-bottom: 0px;
}
.popover .panel .ranking-display {
  color: #fff;
}
.popover .list-group-item {
  padding: 4px 8px;
}
.btn-sm.hover-key {
  padding-left: 5px;
  padding-right: 5px;
}

.gender-display.gender-2:focus, .ranking-display:focus, .language-display:focus, .region-display:focus {
  color: #fff;
}

.gender-display {

  &.gender-0 {
    background: #CCC;
  }
  &.gender-2 {  /* F */
    background: #fd64ff;
    color: #fff;
  }
  &.gender-3 {  /* Only show this for teams as for them it represnts M+F*/
    background: #fedbff;
  }

}

.language-display {

  &.language-2 {
    background: #ec91af;
    color: #fff;
  }
  &.language-3 {
    background: #91ece9;
  }
}

.region-display {

  &.region-display.region-9 {
    background: lighten(#330831, 6%); /* Europe */
    color: #fff;
  }
  &.region-display.region-10 {
    background: lighten(#180833, 6%); /* IONA */
    color: #fff;
  }
  &.region-display.region-6 {
    background: lighten(#002339, 6%); /* ANZ */
    color: #fff;
  }
  &.region-display.region-7 {
    background: lighten(#003937, 6%); /* North America */
    color: #fff;
  }
  &.region-display.region-1 {
    background: #57f8fa; /* North Asia */
  }
  &.region-display.region-2 {
    background: #eaff00; /* SE Asia */
  }
  &.region-display.region-4 {
    background: #40ff71; /* S Asia */
  }
  &.region-display.region-8 {
    background: lighten(#c0e7ff, 8%); /* Latin America */
  }
  &.region-display.region-3 {
    background: lighten(#ffc0f1, 8%); /* Middle East */
  }
  &.region-display.region-5 {
    background: lighten(#c7ffc0, 8%); /* Africa */
  }
  &.region-display.multiple-regions {
    background: #fff;
    color: #000
  }

}

.ranking-display {

  &.ranking-0 {
    background: #000;
  }
    &.ranking-1 {
    background: #bdac7c;
  }
    &.ranking-2 {
    background: #e9b771;
  }
    &.ranking-3 {
    background: #ffbe63;
  }
    &.ranking-4 {
    background: #ffdf53;
    color: #000;
  }
  &.ranking-5 {
    background: #fcff41;
    color: #000;
  }
  &.ranking-6 {
    background: #b6ff2f;
    color: #000;
  }
  &.ranking-7 {
    background: #58ff1f;
  }
  &.ranking-8 {
    background: #19e910;
  }
  &.ranking-9 {
    background: #1aa71c;
  }
  &.ranking-10 {
    background: #007102;
  }

}
