
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";

.debate-panel-holder {
}
.debate-panel {
  background: rgb(192, 192, 192);
  overflow: auto;
  padding: 8px 0;
  border-radius: 4px;
}

.debate-adjudicator {
  min-width: 175px;
  text-align: left;
  padding: 6px;
  border-color: #FFF;
  &:hover {
    cursor: move;
  }
}
.drag-handle {
  float: right;
}