<div class="resize-holder text-center" data-toggle="tooltip" placement="top" title="Drag to resize">
    <span class="glyphicon glyphicon-align-justify"></span>
</div>

{{#each unusedAdjudicators as |adj|}}
    {{adjudicator-ui adj=adj}}
{{/each}}
