<div class="debate-language-strength text-center flex-icon panel-stats">
  {{ panel.allocation.id }}
</div>
<div class="debate-language-strength text-center flex-icon panel-stats">
  X
</div>
<div class="debate-regional-strength text-center flex-icon panel-stats">
  X
</div>
<div class="debate-gender-strength text-center flex-icon panel-stats">
  X
</div>
<div class="debate-panel-strength text-center flex-icon panel-stats">
  X
</div>
<div class="panel-ui">
  <div class="debate-chair-holder flex-1 position-holder">
    {{chair-ui panel=panel adjudicators=adjudicators}}
  </div>
  <div class="debate-panel-holder flex-2 position-holder">
    {{panellists-ui panel=panel adjudicators=adjudicators}}
  </div>
  <div class="debate-trainee-holder flex-1 position-holder">
    {{trainees-ui panel=panel adjudicators=adjudicators}}
  </div>
  <div class="js-drag-handle flex-icon flex-icon">
    <span class="glyphicon glyphicon-align-justify"></span>
  </div>

</div>
