<div id="unusedAdjs" class="adj-bottom-panel droppable-area container-fluid navbar-fixed-bottom hidden">

    <div class="resize-holder text-center" data-toggle="tooltip" placement="top" title="Drag to resize">
        <span class="glyphicon glyphicon-align-justify"></span>
    </div>

    {{#each unusedAdjudicators as |adj|}}
        {{adjudicator-ui adj=adj}}
    {{/each}}

</div>
<div id="allAdjs" class="droppable-area container-fluid navbar-fixed-bottom adj-bottom-panel">

    <div class="resize-holder text-center">
        <span class="glyphicon glyphicon-align-justify"></span>
    </div>

    {{#each sortedAdjudicators as |adj|}}
        {{adjudicator-ui adj=adj}}
    {{/each}}

</div>