

    <div class="resize-holder text-center">
        <span class="glyphicon glyphicon-align-justify"></span>
    </div>

    {{#each sortedAdjudicators as |adj|}}
        {{adjudicator-ui adj=adj}}
    {{/each}}



